# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/launch.json

# OS
.DS_Store
Thumbs.db

# ImGui layout / runtime files
imgui.ini

# Logs / temp
*.log
*.tmp
